<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771291280277-8kqmb6cetklqtf0s6201qclraqfulpv1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771291280277-8kqmb6cetklqtf0s6201qclraqfulpv1</string>
	<key>API_KEY</key>
	<string>AIzaSyAfiyaaf70B-xG6y8B-ZRZZaRNNy3keL9A</string>
	<key>GCM_SENDER_ID</key>
	<string>771291280277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios.kultra</string>
	<key>PROJECT_ID</key>
	<string>kultra-3f248</string>
	<key>STORAGE_BUCKET</key>
	<string>kultra-3f248.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771291280277:ios:c4480228351731a83d3c9c</string>
</dict>
</plist>